<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
    #example {
        margin: 50px auto; /* supaya ke tengah */
        border-collapse: collapse; /* supaya garis menyatu */
        width: 70%;
    }

    #example th, 
    #example td {
        border: 1px solid black; /* kotak-kotak */
        padding: 10px;
        text-align: center;
    }
</style>
</head>
<body>
    <h1>Program <%= judul %></h1>

    <table id="example" class="display nowrap">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Nomer</th>
                        <th colspan="2">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tukiyem</td>
                        <td>0856345647</td>
                        <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
                        </td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    <tr>
                        <td>emmad</td>
                        <td>0845767378483</td>
                        <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
                        </td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    <tr>
                        <td>mumun</td>
                        <td>087567867</td>
                        <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
                        </td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Nomer </th>
                        <th colspan="2">Aksi</th>
                    </tr>
                </tfoot>
            </table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>